affinegap==1.11
attrs==19.3.0
backcall==0.2.0
backoff==1.10.0
bleach==6.3.0
certifi==2024.7.4
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cryptography==44.0.1
cssselect==1.1.0
cycler==0.10.0
d6tcollect==1.0.5
d6tjoin @ git+https://github.com/d6t/d6tjoin.git@e88039666636da07ccf9823f9769c40a06a1beaf
d6tstack==0.2.0
decorator==4.4.2
defusedxml==0.7.1
descartes==1.1.0
entrypoints==0.3
Fiona==1.10.0rc1
fuzzywuzzy==0.18.0
geopandas==0.7.0
idna==3.7
ipykernel==5.3.0
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
jellyfish==0.8.2
Jinja2==3.1.6
joblib==1.2.0
jsonschema==3.2.0
jupyter==1.1.1
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.11.2
kiwisolver==1.4.9
lxml==4.9.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
munch==2.5.0
nbconvert==7.16.6
nbformat==5.10.4
notebook==6.4.12
numpy==1.22.0
opencage==1.2.1
packaging==20.4
pandas==1.0.4
pandocfilters==1.4.2
parso==0.7.0
pdfminer.six==20200517
pdfquery==0.4.3
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycparser==2.20
pycryptodome==3.19.1
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==3.7.2
pyquery==1.4.1
pyrsistent==0.16.0
python-dateutil==2.8.1
python-dotenv==0.13.0
python-Levenshtein==0.12.0
pytz==2020.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
requests==2.32.4
roman==3.2
Rtree==0.9.4
scipy==1.4.1
Send2Trash==2.0.0
Shapely==1.7.0
six==1.15.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.17
terminado==0.8.3
testpath==0.4.4
tornado==6.5.4
traitlets==4.3.3
urllib3==2.6.3
wcwidth==0.2.14
webencodings==0.5.1
widgetsnbextension==4.0.15
